<!DOCTYPE html>
<html>
<head>
	<title></title>
	<!-- BootStrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- CSS -->
	<link rel="stylesheet" href="movie_card.css" type="text/css">

</head>
<body>

	<nav class="navbar navbar-default navbar-static-top navbar-inverse">
		<div class="container">

			<ul class="nav navbar-nav">
				<!-- Logo -->
				<li><a class="navbar-brand" href=""><img alt ="BRAND" src=""></a></li>
			</ul>

			<!-- search Bar -->
			<form class="navbar-form navbar-left" >
        		<div class="form-group" >
          			<input type="text" class="form-control" placeholder="Search" style="width:700px">
        		</div>
        		<button type="submit" class="btn btn-default">Submit</button>
      		</form>
			
			<!-- Sign In  -->
			<% if (name){ %>
      <p class="navbar-text navbar-right"><a id="signin_anchor" href="sign_in" class="navbar-link"><%=name%></a></p>
      <% }else{ %>
      <p class="navbar-text navbar-right"><a id="signin_anchor" href="sign_in" class="navbar-link">Sign In</a></p>
      <%}%>
		</div>
	</nav>

			<!-- Sign In  -->
			

<%=movies[0].duration%>

<% for (movie in movies){ %>

		<div class="movie_card" id="bright">
  <div class="info_section">
    <div class="movie_header">
      <img class="locandina" src="<%=movies[movie].img_link%>"/>
      <h1><%=movies[movie].movie_name%></h1>
      <!-- <h4><%=movies[movie].release_date%></h4> -->
      <span class="minutes"><%=movies[movie].duration%> mins</span>
      <p class="type"><%=movies[movie].genre%></p>
    </div>
    <div class="movie_desc">
      <p class="text">
        <!-- Set in a world where fantasy creatures live side by side with humans. A human cop is forced to work with an Orc to find a weapon everyone is prepared to kill for.  -->
        <%=movies[movie].description%>
      </p>
    </div>
    <div class="movie_social">
      <ul>
        <li><i class="material-icons">share</i></li>
        <li><i class="material-icons"></i></li>
        <li><i class="material-icons">chat_bubble</i></li>
      </ul>
    </div>
  </div>
  <div class="blur_back bright_back"></div>
</div>
<%}%>

		
	
</body>

</html>